<div class="container mt-4">
    <h2 class="section-title">Admin Dashboard</h2>
    <ul class="nav nav-tabs admin-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/candidates">Candidats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/trainers">Formateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/formations">Formations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/sessions">Sessions</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>
